@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i,800,800i");

body,li {
	display:static;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 11px;
	font-weight: 300;
	/*background-color: #ffffff;*/
	/*line-height: 1.45;*/
	/*color: #000000;*/
	/*margin-top: 0; */
	/*display: flex;*/
	/*flex-direction: column;*/	
	}

	.btn.btn-lg.btn-success.btn-pill.btn-cta{
		visibility: hidden;
		display: none;
	}

/*	.btn.btn-primary.btn-pill.btn-lg{
		visibility: hidden;
	}*/

	.btn.btn-default.btn-sm{
		visibility: hidden;
		display: none;
	}

	.form-control.input-sm{
		visibility: hidden;
		display: none;
	}

	.success-verify.alert.alert-success{
		visibility: hidden;
		display: none;
	}

/*	.btn.btn-lg.btn-primary.btn-pill.btn-cta{
		visibility: hidden;
	}
*/
/*	.btn_finalizar 
	{
		visibility: hidden;
		
	}
*/
/*p,b
{
	display:inline-block;
	font-family: "Raleway", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;

}
	*/
table
{
	display:none;
	/*text-align:center;
    width: 98%;
    border-collapse: collapse;
    border: 1px solid black;
	margin:100px auto;
    background: white;*/
}
th 
{
    display:none;
	/*background:#26b382;
    color: white;
    border: 1px solid #ffffff;
	font-size: 14px;
	text-align:center;*/

}
tr 
{
	display:none;
	/*width:100%;
	text-align:center;*/
}
td 
{
    display:none;
	/*border: 1px solid #00000087;
    padding: 5px;
    transition: all 0.2s;
	font-size: 14px;
	text-align:center;*/
}
a
{
	display:none;
	/*top: 20px;*/
	left: 20px;
	/*font-size: 11px;*/
	width: 100px;
	
	/*display: inline-block;*/
	padding: 5px 55px;
	/*text-decoration: none;*/
	border-radius:2px;
	background-color:#37d64fa6;
	text-align:center;
	/*display: list-item;*/
	color:#000000;
	border:1px solid black;
}
/*input[type="submit"]
{
	font-size: 14px;
	text-align:center;
	width: 100px;
	display: inline-block;
	padding: 5px 55px;
	text-decoration: none;
	cursor:pointer;
	text-align:center;
	border-radius:2px;
	background-color:#37d64fa6;
	text-align:center;
	display: inline-flexbox;
	color:#000000;
	border:1px solid black;
}*/
button
{
	/*display:none;
	visibility: hidden;*/
	font-size: 11px;
	width: 100px;
	padding: 5px 25px;
	text-decoration: none;
	cursor:pointer;
	border-radius:2px;
	background-color:#37d64fa6;
	text-align:center;
	color:#000000;
	border:1px solid black;
}
/*h1
{
	font-family: sans-serif;
	margin:0px;
}*/
label
{
	display:none;
	/*width:25px;
	background-color:#009BFF;
	padding: 20px;
	color:white;
	font-size:14px;
	margin: 00px;
	border-radius:1px;
	border:2px solid #f3f3f3;*/
}
/*.caja_popup 
{
	display: none;
    position: absolute;
	padding:0;
	background-color:rgba(0, 0, 0, 0);
	width:50%;
	height:100%;
	
}*/
/*.contenedor_popup 
{
	border-radius: 5px;
	top: 0%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:400px;
	border-radius: 5px;
	transition: all 0.2s;
}*/
/*.caja_popup2 
{
    position: absolute;
	padding:0;
	background-color:rgba(0, 0, 0, 0);
	width:50%;
	height:100%;
}*/
/*#barrabuscar
{
	font-family: "Raleway", Arial, sans-serif;
	color:rgb(0, 0, 0);
	text-align:center;
}*/
/*#cajabuscar
{
	width:300px;
	height:30px;
	font-size:14px;
	background-color:#fffefe;
	border-color:white;
	padding-left:10px;
	margin: 2px 30px;	
}*/
