@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i,800,800i");

body {
	font-family: "Raleway", Arial, sans-serif;
	/*font-family: FontAwesome;*/
	font-size: 1.125em;
	font-weight: 300;
	background-color: #ffffff;
	line-height: 1.45;
	color: #000000;
	margin-top: 0; 
	/*display: display-box;
	flex-direction: row;*/	

	

	}
table
{
	position:sticky;
	text-align:center;
    width: 100%;
    border-collapse: collapse;
    border: 0px solid black;
	margin:100px auto;
    background: white;
}
th 
{
	position:sticky;
	background:#26b382;
    
 /*   font-weight: lighter;*/
    /*text-shadow: 0 1px 0 #6b6e70;*/
    color: white;
    border: 0px solid #ffffff;
    /*box-shadow: inset 0px 1px 2px #444444;*/
 /*   transition: all 0.2s;*/
	font-size: 14px;
	text-align:center;

}
tr 
{
	position:sticky;
	
    border: 1px solid #cccccc;
	width:100%;
	text-align:center;
}
td 
{
	position:sticky;
	
    border: 0px solid #00000087;
    padding: 5px;
    transition: all 0.2s;
	font-size: 14px;
	text-align:center;
}
a,input[type="submit"],button
{
/*	font-size: 14px;
	text-align:center;
	width: 100px;
	display: inline-block;
	
	padding: 6px 10px;
	
	text-decoration: none;
	
	*/
	cursor:pointer;
	text-align:center;
	border-radius:2px;
	background-color:#ffffffa6;
	text-align:center;
	width: 100px;
	display: inline-block;
	color:#000000;
	border:1px solid black;
}
.logo,.nav{
	border:0px solid black;
	border-radius:2px;
	font-size: 14px;
	}
h1
{
	font-family: sans-serif;
	margin:0px;
}
h2
{
	font-family: sans-serif;
	margin:0px;
	color:white;
}
.botondescargar,label
{
	width:40px;
	background-color:#009BFF;
	padding: 0px;
	color:white;
	font-size:24px;
	text-align: center;
	margin: 00px;
	/*font-weight: lighter;*/
	border-radius:5px;
	border:2px solid #f3f3f3;
	cursor:pointer;
}
.botondescargar2
{
	width:200px;
	background-color:#009BFF;
	padding: 0px;
	color:white;
	font-size:24px;
	text-align: center;
	margin: 00px;
	/*font-weight: lighter;*/
	border-radius:5px;
	border:2px solid #f3f3f3;
	cursor:pointer;
}
.caja_popup 
{
	display: none;
    position: fixed;
	padding:0;
	background-color:rgba(0, 0, 0, 0);
	width:50%;
	height:100%;
	cursor: pointer;
}
.contenedor_popup 
{
	border-radius: 5px;
	top: 0%;
	left: 50%;
	position: fixed;
	transform: translate(-100%,25%);
	width:400px;
	border-radius: 5px;
	transition: all 0.2s;
}

.caja_popup2 
{
	/*display: none;*/
    position: fixed;
	padding:0;
	background-color:rgba(0, 0, 0, 0);
	width:50%;
	height:100%;
}
#barrabuscar
{
	font-family: "Raleway", Arial, sans-serif;
	color:rgb(0, 0, 0);
	text-align:center;
}
#cajabuscar,#datepickerdesde,#datepickerhasta
{
	width:300px;
	height:30px;
	font-size:14px;
	background-color:#fffefe;
	border-color:white;
	padding-left:10px;
	margin: 2px 30px;
	
}

.path-frontpage nav:not(.navbar-fondo) .navbar-header .logo img {
	-webkit-filter: brightness(500%);
			filter: brightness(500%); }
  
  .navbar-header .logo img {
	height: 100px;
	width: 140px; }
	.navbar-header .logo img:hover {
	  opacity: .9; }
  
  @media (max-width: 620px) {
	.navbar-header img {
	  height: 75px !important;
	  margin-top: 0px; } }
  
  .navbar-default {
	background-color: transparent;
	border-color: transparent;
	padding-top: 30px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease; }
	.navbar-default .navbar-nav li > a {
	  color: #08792aa6;
	  font-weight: 400; }
	  @media (min-width: 768px) {
		.navbar-default .navbar-nav li > a {
		  color: #fff;
		  padding-bottom: 8px;
		  padding-left: 4px;
		  padding-right: 4px;
		  margin-left: 20px;
		  border-bottom: 2px solid transparent; } }
	  @media (min-width: 768px) and (max-width: 992px) {
		.navbar-default .navbar-nav li > a {
		  font-size: 0.8em; } }
	@media (max-width: 768px) {
	  .navbar-default .navbar-nav li > a:hover, .navbar-default .navbar-nav li > a:focus {
		color: #08792aa6;
		text-decoration: underline; } }
	@media (min-width: 768px) {
	  .navbar-default .navbar-nav li > a:hover, .navbar-default .navbar-nav li > a:focus {
		color: #fff;
		border-bottom: 2px solid #fff; } }
	.navbar-default .navbar-nav a.is-active, .navbar-default .navbar-nav a.is-active:hover, .navbar-default .navbar-nav a.is-active:focus {
	  color: #fff;
	  background-color: transparent;
	  border-bottom: 2px solid #fff; }
	  @media (max-width: 768px) {
		.navbar-default .navbar-nav a.is-active, .navbar-default .navbar-nav a.is-active:hover, .navbar-default .navbar-nav a.is-active:focus {
		  color: #2e2f30;
		  background-color: transparent;
		  border-bottom: none; } }
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	  color: #fff;
	  background-color: transparent;
	  border-bottom: 2px solid #fff; }
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	  color: #fff;
	  background-color: transparent; }
	.navbar-default .navbar-nav li:last-child > a {
	  color: #08792aa6;
	  background-color: transparent;
	  border-color: #08792aa6;
	  border-width: 2px;
	  border-style: solid;
	  -webkit-border-image: initial;
		   -o-border-image: initial;
			  border-image: initial;
	  padding: 10px 16px;
	  border-radius: 20px;
	  margin-top: 2px;
	  -webkit-transition: all 0.2s ease;
	  transition: all 0.2s ease; }
	  .navbar-default .navbar-nav li:last-child > a:hover, .navbar-default .navbar-nav li:last-child > a:focus {
		color: #fff;
		background-color: #08792aa6; }
	  @media (min-width: 768px) {
		.navbar-default .navbar-nav li:last-child > a {
		  color: #fff;
		  background-color: transparent;
		  border-color: #fff; }
		  .navbar-default .navbar-nav li:last-child > a:hover, .navbar-default .navbar-nav li:last-child > a:focus {
			color: #08792aa6;
			background-color: #fff; } }
	.navbar-default .navbar-toggle {
	  border-color: #fff; }
	  .navbar-default .navbar-toggle .icon-bar {
		background-color: #fff; }
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color: #fff; }
	  .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
		background-color: #2e2f30; }
	.navbar-default .menu {
	  margin-top: 40px; }
	@media (max-width: 768px) {
	  .navbar-default {
		padding-top: 0px; }
		.navbar-default .navbar-collapse {
		  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
				  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		  background-color: #fff; }
		.navbar-default .menu {
		  margin-top: 0; }
		.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		  color: #08792aa6; } }
	@media (min-width: 768px) {
	  .navbar-default .navbar-nav li ul.dropdown-menu {
		padding: 0;
		border: none;
		left: 20px;
		margin-top: 16px;
		border-radius: 4px;
		min-width: 220px; } }
	.navbar-default .navbar-nav li ul.dropdown-menu li a {
	  border: none;
	  padding: 12px 18px;
	  white-space: normal;
	  font-size: 1.125em;
	  background-color: #fff;
	  color: #08792aa6;
	  margin-left: 0px; }
	.navbar-default .navbar-nav li ul.dropdown-menu li a:hover {
	  border: none;
	  text-decoration: underline; }
	.navbar-default .navbar-nav li ul.dropdown-menu li a.is-active {
	  color: #2e2f30;
	  text-decoration: underline; }
	@media (max-width: 768px) {
	  .navbar-default .navbar-nav li ul.dropdown-menu li a {
		padding-left: 50px; } }
  
  .navbar-content {
	background: #fff;
	border-color: #e7e7e7; }
	.navbar-content .navbar-toggle {
	  border-color: #08792aa6; }
	  .navbar-content .navbar-toggle .icon-bar {
		background-color: #08792aa6; }
	.navbar-content .navbar-toggle:hover, .navbar-content .navbar-toggle:focus {
	  background-color: #08792aa6; }
	  .navbar-content .navbar-toggle:hover .icon-bar, .navbar-content .navbar-toggle:focus .icon-bar {
		background-color: #fff; }
	.navbar-content .navbar-nav li > a {
	  color: #08792aa6; }
	@media (max-width: 768px) {
	  .navbar-content .navbar-nav li > a:hover, .navbar-content .navbar-nav li > a:focus {
		color: #08792aa6;
		text-decoration: underline; } }
	@media (min-width: 768px) {
	  .navbar-content .navbar-nav li > a:hover, .navbar-content .navbar-nav li > a:focus {
		color: #08792aa6;
		border-bottom: 2px solid #08792aa6; } }
	.navbar-content .navbar-nav a.is-active, .navbar-content .navbar-nav a.is-active:hover, .navbar-content .navbar-nav a.is-active:focus {
	  color: #2e2f30;
	  background-color: transparent;
	  border-bottom: 2px solid #2e2f30; }
	.navbar-content .navbar-nav > .active > a, .navbar-content .navbar-nav > .active > a:hover, .navbar-content .navbar-nav > .active > a:focus {
	  color: #2e2f30;
	  background-color: transparent;
	  border-bottom: 2px solid #2e2f30; }
	  @media (max-width: 768px) {
		.navbar-content .navbar-nav > .active > a, .navbar-content .navbar-nav > .active > a:hover, .navbar-content .navbar-nav > .active > a:focus {
		  border-bottom: none; } }
	.navbar-content .navbar-nav li:last-child > a {
	  color: #08792aa6;
	  background-color: transparent;
	  border-color: #08792aa6;
	  border-width: 2px;
	  border-style: solid;
	  -webkit-border-image: initial;
		   -o-border-image: initial;
			  border-image: initial;
	  padding: 10px 16px;
	  border-radius: 20px;
	  margin-top: 2px; }
	  .navbar-content .navbar-nav li:last-child > a:hover, .navbar-content .navbar-nav li:last-child > a:focus {
		color: #fff;
		background-color: #08792aa6; }
	.navbar-content .navbar-nav li.active:last-child > a {
	  cursor: default;
	  border-color: #2e2f30;
	  color: #2e2f30; }
	  .navbar-content .navbar-nav li.active:last-child > a:hover, .navbar-content .navbar-nav li.active:last-child > a:focus {
		color: #2e2f30;
		background-color: #fff;
		border-color: #2e2f30; }
	.navbar-content .navbar-nav > .open > a, .navbar-content .navbar-nav > .open > a:hover, .navbar-content .navbar-nav > .open > a:focus {
	  color: #08792aa6; }
	.navbar-content .navbar-nav li ul.dropdown-menu li:last-child > a:hover, .navbar-content .navbar-nav li ul.dropdown-menu li:last-child > a:focus {
	  background-color: transparent;
	  color: #08792aa6; }
	.navbar-content .navbar-nav li ul.dropdown-menu li.active:last-child > a {
	  display: block; }
	.navbar-content .navbar-nav > .open > a, .navbar-content .navbar-nav > .open > a:hover, .navbar-content .navbar-nav > .open > a:focus {
	  color: #08792aa6; }
	.navbar-content .navbar-nav li ul.dropdown-menu {
	  border-top: 1px solid #08792aa6;
	  border-top-left-radius: 0px;
	  border-top-right-radius: 0px; }
	  @media (min-width: 768px) {
		.navbar-content .navbar-nav li ul.dropdown-menu {
		  margin-top: 31px; } }
	.navbar-content .navbar-nav li ul.dropdown-menu:before {
	  border: none; }
  
  .navbar-fondo {
	background: #fff;
	border-color: #e7e7e7;
	padding-top: 0px; }
	.navbar-fondo .logo img {
	  height: 75px !important;
	  margin-top: 0px; }
	.navbar-fondo .navbar-toggle {
	  border-color: #08792aa6; }
	  .navbar-fondo .navbar-toggle .icon-bar {
		background-color: #08792aa6; }
	.navbar-fondo .navbar-toggle:hover, .navbar-fondo .navbar-toggle:focus {
	  background-color: #4b534da6; }
	  .navbar-fondo .navbar-toggle:hover .icon-bar, .navbar-fondo .navbar-toggle:focus .icon-bar {
		background-color: #fff; }
	@media (min-width: 768px) {
	  .navbar-fondo .menu {
		margin-top: 20px; } }
	.navbar-fondo .navbar-nav li > a {
	  color: #08792aa6; }
	@media (max-width: 768px) {
	  .navbar-fondo .navbar-nav li > a:hover, .navbar-fondo .navbar-nav li > a:focus {
		color: #08792aa6;
		text-decoration: underline; } }
	@media (min-width: 768px) {
	  .navbar-fondo .navbar-nav li > a:hover, .navbar-fondo .navbar-nav li > a:focus {
		color: #08792aa6;
		border-bottom: 2px solid #08792aa6; } }
	.navbar-fondo .navbar-nav a.is-active, .navbar-fondo .navbar-nav a.is-active:hover, .navbar-fondo .navbar-nav a.is-active:focus {
	  color: #2e2f30;
	  background-color: transparent;
	  border-bottom: 2px solid #2e2f30; }
	  @media (max-width: 768px) {
		.navbar-fondo .navbar-nav a.is-active, .navbar-fondo .navbar-nav a.is-active:hover, .navbar-fondo .navbar-nav a.is-active:focus {
		  border-bottom: none; } }
	.navbar-fondo .navbar-nav > .active > a, .navbar-fondo .navbar-nav > .active > a:hover, .navbar-fondo .navbar-nav > .active > a:focus {
	  color: #2e2f30;
	  background-color: transparent;
	  border-bottom: 2px solid #2e2f30; }
	.navbar-fondo .navbar-nav > .open > a, .navbar-fondo .navbar-nav > .open > a:hover, .navbar-fondo .navbar-nav > .open > a:focus {
	  color: #08792aa6;
	  background-color: transparent; }
	.navbar-fondo .navbar-nav li:last-child > a {
	  color: #08792aa6;
	  background-color: transparent;
	  border-color: #08792aa6;
	  border-width: 2px;
	  border-style: solid;
	  -webkit-border-image: initial;
		   -o-border-image: initial;
			  border-image: initial;
	  padding: 10px 16px;
	  border-radius: 20px;
	  margin-top: 2px; }
	  .navbar-fondo .navbar-nav li:last-child > a:hover, .navbar-fondo .navbar-nav li:last-child > a:focus {
		color: #fff;
		background-color: #08792aa6; }
	  .navbar-fondo .navbar-nav li:last-child > a .is-active {
		border-color: #2e2f30; }
	.navbar-fondo .navbar-nav li ul.dropdown-menu {
	  border-top: 1px solid #08792aa6;
	  border-top-left-radius: 0px;
	  border-top-right-radius: 0px; }
	  @media (min-width: 768px) {
		.navbar-fondo .navbar-nav li ul.dropdown-menu {
		  margin-top: 26px; } }
	.navbar-fondo .navbar-nav li ul.dropdown-menu:before {
	  border: none; }
	.navbar-fondo .navbar-nav li ul.dropdown-menu li:last-child > a:hover, .navbar-fondo .navbar-nav li ul.dropdown-menu li:last-child > a:focus {
	  background-color: transparent;
	  color: #08792aa6; }
	.navbar-fondo .navbar-nav > .open > a, .navbar-fondo .navbar-nav > .open > a:hover, .navbar-fondo .navbar-nav > .open > a:focus {
	  color: #08792aa6; }
  
  @media (max-width: 992px) {
	.navbar-default .navbar-nav li > a {
	  margin-left: 10px;
	  font-size: 0.8em; } }
  

	  .footer {
		position: fixed;
		left: 0;
		bottom: -100;
		width: 100%;
		HEIGHT: 30PX;
		background-color: #5ebb7a;
	 }	

	 .main {
		/*display: inline-block;*/
		position: fixed;
		left: 0;
		text-align: center;
		
		/*top: -10;*/
		width: 100%;
		HEIGHT: 30PX;
		background-color: #5ebb7a;
		/*margin-top: 30px; *//* Add a top margin to avoid content overlay */
	  }
	  li{
		cursor: pointer;
	  }
	  .hide { display:none!important }
	  
	  tr.header
{
    cursor:pointer;
}